
//
*{padding: 0;margin: 0;}
#top-btn {
  position: fixed;
  bottom: 42px;
  right: 24px;
  z-index: 99;
  font-size: 45px;
  a {
    color: map-get($paleta , 'gris' );
  }
}  
.bodyA { 
  background-color: map-get($paleta, 'rosa' );
  margin-top: 2px;
  text-align: center;
  font-family: 'Rubik', sans-serif; 
}
.bodyR { 

 @extend .bodyA;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
       "header header header"
       "main main sidebar"
       "main main sidebar"
       "footer footer footer";
    grid-gap: 1.25rem;
}
header {
  grid-area: header;
}
.sidebar {
  grid-area: sidebar;
}
.poster {
  height: 100%;
  max-width: 100%;
  padding: 25px 15px auto 15px;
  
  background: url(../pic/pic14.JPG);
  background-position: center;
  background-size: 400%;
  
  
  
  p {
    padding: 25px 15px 25px 15px;
    color: map-get($paleta, 'aqua' );
    text-align: center;
    font-size: x-large;
    font-weight: 400;
    font-family: 'Rubik', sans-serif;
  }
  
}

h1 {
  margin-top: 15px;
}
.mainX {
  grid-area: main;
  background-color: map-get($paleta, 'rosa' );
  color: map-get($paleta , 'gris' );     
  margin-bottom: 24px; 
}
#story, #catalog{
  margin: 24px 50px;
}
.card-body a {
  color: map-get($paleta, 'aqua' );

}
.galeria {
  margin-top: 24px;
   img {
    @include media(100%,75%,5px) ;
}
}
.mail {
  margin-top: 15px;
  padding: 20px 50px;
}
.btn {
  border: dashed 2.5px;
  color: map-get($paleta, 'lila' );
}
.btn-rosa {
  @extend .btn;
  background-color: map-get($paleta, 'rosa' );
  
}
.btn-aqua {
  @extend .btn;
  background-color: map-get($paleta, 'aqua' );
}
iframe {
  margin-top: 35px;
  max-width: 78%;
  max-height: 86%;
}
.footerBg{
  grid-area: footer;
  margin: 0;
  background-color: map-get($paleta,'aqua');
  color: map-get($paleta, 'lila' );
  border: solid;
  a, p {
    display: block;
    color: map-get($paleta , 'gris' );
  }
}
.sitemap {
      ul {
      list-style: none;
      padding: 0;
      li {    
        line-height: .6;
      }
    } 
}
svg {
   font-size: 42px;
   margin: 30px;
 }

